* {
      font-family: 'Poppins', sans-serif;
    }

    @media (max-width: 910px) {
      .hiddenlowres {
        display: none;
      }
    }

    @media (max-width: 1360px) {
      .hiddenlowresmain {
        display: none;
      }
    }

    .nav-link {
      position: relative;
      overflow: hidden;
      display: inline-block;
      padding-bottom: 2px;
    }

    .nav-link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background: #000;
      transition: width 0.3s ease, left 0.3s ease;
      transform: translateX(-50%);
    }

    .nav-link:hover::after {
      width: 100%;
    }

    .hidden {
      display: none;
    }

    .icon-wrapper {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 10px;
      transition: background-color 0.3s ease, filter 0.3s ease;
    }

    .icon-instagram {
      background-color: #C13584;
    }

    .icon-facebook {
      background-color: #1877F2;
    }

    .icon-email {
      background-color: #D44638;
    }

    .icon-wrapper:hover {
      filter: brightness(0.6);
    }

    .icon-wrapper a {
      color: #ffffff;
    }

    .hamburger-menu {
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
    }

    .hamburger-menu.active {
      transform: translateX(0);
    }

    .overlay {
      background: rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
    }

    .overlay.active {
      opacity: 1;
    }

    .bg-gradient {
      background: linear-gradient(135deg, #007BFF 0%, #00C6FF 100%);
    }

    #success-animation {
      background-color: rgba(34, 197, 94, 0.9);
      transition: all 0.7s ease;
    }

    .carousel-arrow {
      position: absolute;
      top: 60%;
      transform: translateY(-30%);
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 10px;
      cursor: pointer;
    }

    .carousel-arrow.left {
      left: 10px;
    }

    .carousel-arrow.right {
      right: 10px;
    }