main {
    height: 80vh;
}

footer {
    position: relative;
    width: 100%;
    color: white;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: #021452;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.4rem 3rem;
}

#footer_content p {
    color: #adadad ;
}

#footer_contacts h4 {
    margin-bottom: 0.75rem;
}


#footer_social_media {
    display: flex;
    gap: 0.8rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
    text-decoration: none;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#email {
    background-color: #ff6054;
}

.footer-list {
    line-height: 37px;
    flex-direction: column;
    gap: 0.7rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #adadad;
    transition: all 0.8s;
}

.footer-list .footer-link:hover {
    color: #ff425c;
}

#footer_copyright {
    color: #adadad;
    display: flex;
    justify-content: center;
    background-color: #000b30;
    font-size: 0.9rem;
    padding: 1.1rem;
    font-weight: 100;
}

#doe-agora span {
  color: skyblue;
}

.copy-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.copy-button i {
  font-size: 1.25rem; 
  color: skyblue;
}

#doe-agora {
    display: flex;
    align-items: center;
}

#doe-agora p {
    color: #adadad;
    margin: 0;
    padding: 0;
    line-height: 2;
    flex: 1;
}

#qr-code {
    margin-left: 10px;
    width: 110px; 
    margin-top: -5%; 
    height: auto; 
}

@media screen and (max-width: 909px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #qr-code {
        display: none;
    }

    .footer-list:nth-child(2),
    .footer-list:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }

    #qr-code {
        display: none;
    }

    .footer-list:nth-child(2),
    .footer-list:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 1300px) {
    #qr-code {
        display: none;
    }
}