@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --shadow-1: 0 8px 16px hsla(0, 0%, 0%, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  letter-spacing: 1px;
  zoom: 100%; 
}

body {
  background-color: #f0f0f0;
  background-image: url(../images/patinhas.png);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
  box-shadow: var(--shadow-1);
}

.navbar .logo img {
  width: 80px;
  height: 70px;
  margin-left: 10px;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 45px;
  margin-right: 30px;
  padding-top: 25px;
}

.navbar a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 10px;
  font-size: 1.0rem;
}

.navbar li:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.menu-icon {
  display: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.gato {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 300px;
  z-index: 2;
}

.cachorro {
  position: absolute;
  bottom: 0;
  right: 20%;
  max-width: 200px;
  z-index: 0;
}

.texto {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 9;
}

.texto .content {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  color: black;
}

.content {
  padding: 40px;
}

.texto .content h2 {
  font-size: 3.7rem; 
  max-width: 750px; 
  line-height: 87.5px; 
  font-weight: bold;
}

.texto .content span {
  color: #00359a;
}

.texto .content p {
  font-weight: 400;
  font-size: 1.3rem;
  max-width: 600px;
  margin-top: 15px;
}

.texto .content button {
  color: #fff;
  background: #fd1b3a;
  padding: 15px 37.5px; 
  font-size: 1.25rem; 
  border-radius: 12.5px; 
  border: none;
  margin-top: 47px; 
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 7px;
}

.texto .content button:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

button img {
  left: 10%;
  width: 25px; 
}

.slideshow {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slideshow img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: black;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  display: none;
}

header.show-mobile-menu #hamburger-btn {
  display: none; 
}

header.show-mobile-menu #close-menu-btn {
  display: block; 
}

#doe-agora span {
  color: lightskyblue;
}
 .copy-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.copy-button i {
  font-size: 1.4em; 
  color: lightblue;
}

@media (max-width: 1100px) {

  .menu-icon {
    display: block;
  }

  #hamburger-btn,
  #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -312.5px; 
    width: 312.5px; 
    height: 125vh;
    background: #fff;
    flex-direction: column;
    padding: 87.5px 50px 0; 
    transition: left 0.4s ease;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);

  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }

  .gato,
  .cachorro {
    display: none;
  }

  .texto .content {
    text-align: center;
  }

  .texto .content h2,
  .texto .content p {
    max-width: 100%;
  }

  .texto .content h2 {
    font-size: 2.5rem;
    line-height: 62px;
  }

  .texto .content button {
    padding: 15px 20px;
  }

  .social-icons {
    position: absolute;
    bottom: 20px;
    left: 0;
    transition: background-color 0.3s;
  }
}

@media (max-width: 900px) {
  .gato {
    max-width: 300px;
    z-index: 2;
  }

  .cachorro {
    max-width: 200px;
    left: 50%;
  }
}

@media (max-width: 950px) {
  .gato {
    max-width: 300px;
    z-index: 2;
  }

  .cachorro {
    max-width: 200px;
    left: 50%;
  }
}

@media (min-width: 1200px) {
  .gato {
    max-width: 420px;
    z-index: 2;
  }

  .cachorro {
    max-width: 300px;
  }
}

@media (min-width: 1700px) {
  .gato {
    max-width: 500px;
    z-index: 2;
  }

  .cachorro {
    max-width: 400px;
    left: 55%;
  }
}

@media (min-width: 1920px) {
  .gato {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 400px;
    z-index: 2;
  }

  .cachorro {
    right: 50%;
    max-width: 300px;
  }
}